<div id="fort-laud">
  <div class="home-text">
    <h1 class="home-text" id="hello">Hello, from Fort Lauderdale!</h1>
    <h3 class="home-text"> Thank you for visiting my web app </h3>
    <h3 class="home-text"> Check out my Ruby on Rails blog below </h3>
    <div id="my-blog">
    <%= link_to 'My Blog', controller: 'articles' %>
    <div>
  </div>
</div>
